/* Adieu — Good Type Foundry (see /fonts/COPYRIGHT.txt). Hosted for all visitors. */
@font-face {
  font-family: "Adieu";
  src:
    local("Adieu"),
    local("Adieu Regular"),
    url("/fonts/adieu-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Adieu";
  src:
    local("Adieu Bold"),
    url("/fonts/adieu-bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
